td + img {

  width: 200px;
  height: 200px;
}

/*body{
  background-image: url(/home/rlicornes/Projet_Father/code/Phaser/public/images/backgrounds/planets.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}*/


input {
    font-size: 30px;
    border-color: black;
}

table{


}

#Erkma {
  margin-left: 40%;
  margin-right: 50%;
  width: 1000px;
  height: 500px;
}
