doctype html
html
	head
		title= title
		block libs
		block script
		link(rel='stylesheet', href='/stylesheets/pure-min.css')
		link(rel='stylesheet', href='/stylesheets/launcher.css')
		link(rel='stylesheet', href='/stylesheets/game.css')

	body
		img#full-screen-background-image(alt="full screen background image", src="/images/planets.jpg")
		block content
