extends layoutgame

h1= title
block script
	script(src='https://cdn.socket.io/socket.io-1.2.0.js')
	script(src='http://code.jquery.com/jquery-1.11.1.js')
	script(src='javascripts/phaser/phaser.js')
	script(src='javascripts/phaser/phaser-plugin-isometric.js')
	script(src='javascripts/game/game.js')
	
ul#messages
	form(action='')
		input#m(autocomplete='off')
			button Send
			
canvas
