extends layouts/layout

block content
	.divtitle
	img.title(src='/images/assets/erkma.png')
	a#Addbutton(type='button', name='Add')
	a#Loginbutton(type='button', name='Login')
	p.pfooter Périples futures ... Victoires prochaines !
