extends layouts/layout

block content
	.divtitle
		img.title(src='/images/assets/erkma.png')
	a#Addbutton(type='button', name='Add', href='/users/add')
	a#Loginbutton(type='button', name='Login', href='/users/login')
	p.pfooter Future trips ... Next Wins !
