extends layouts/layout

block content
	.divtitle
		img.title(src='/images/assets/erkma.png')
	a.button(href='/users/login') Login
	a.button(href='/users/add') Add
	footer.footer
		p.pfooter Périples futures ... Victoires prochaines !
