extends layoutgame

block content
	h1=title
	form.pure-form.pure-form-stacked.launcher(name="start_game", method="post" action="/start_game")
		fieldset
			button.pure-button.pure-button-primary(type="submit") Start
