doctype html
html
	head
		title= title
		block script
		link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
		link(rel='stylesheet', href='/stylesheets/launcher.css')

	body
		img#full-screen-background-image(alt="full screen background image", src="/images/planets.jpg")
		block content
