canvas
{
	border: 3px solid black;
	/*margin-top: 20px;*/
	display: inline-block;
	margin: 0;
}
.custom-restricted-width {
  font-size: 1em;
  display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	/*width: 40%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;*/
	/*margin-left: -160px;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;*/
}
#parent {
	display: inline-block;
}

button
{
	margin-left: 5px;
}

#image {
	position: absolute;
	top: 1%;
	right: 1%;
}

.list
{
	color: rgb(134, 134, 134);
	margin-left: 2em;
}

#attaque, #city, #commerce, #planet
{
	display: block;
	margin: 5% 0% 5% 10%;
	width: 80%;
}

#attaque
{
	margin-top: -16%;
}
