#loose{
  width: 1000px;
  height: 560px;
  margin-left: 3%;
  margin-top: 3%;
}

p{
  color: white;
  font-size: 20px;
  margin-left: 2%;
  float: right;
}

.ensemble{
  margin-top: 0%;
  margin-right: auto;

}

#planete1{
  width: 100px;
  height: 75px;
  float: right;
}

#planete2{
  width: 100px;
  height: 100px;
  margin-top: 34%;
  float: left;
}

body{
  background: #1A1919;
}
