@font-face {
    font-family: 'Arista';
    src: url('/fonts/arista_2_0/Arista2.0 light.ttf');
}

body {
  background-image: ;
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000000;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

a {
  color: #00B7FF;
  display:block;
}

.b1 {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  width: 40%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

form, p {
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
  text-align: center;
}

h1, legend {
  text-align: center;
  color: #ffffff;
}

canvas {
	position: relative;
	left: -2%;
}

.buttons
{
    width: 100%;
    text-align: center;
}

.buttons a
{
    display: inline-block;
    margin: 0 15.6% 0 15.6%;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}
/*margin-left: auto;*/

#Addbutton:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-image: url(../images/buttons/add2.png);
}

#Addbutton
{
  background-image: url(../images/buttons/add1.png) ;
  border: none;
  padding: 75px 100px;
  text-align: center;
  display: inline-block;
  margin-left: 23%;
}

#Loginbutton:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-image: url(../images/buttons/log2.png);
}

#Loginbutton
{
  background-image: url(../images/buttons/log1.png) ;
  border: none;
  padding: 75px 100px;
  text-align: center;
  display: inline-block;
  margin-left: 25%;
}

.custom-restricted-width {
  font-size: 2em;
  display: inline-block;
}

 #g {
   font-size: 2em;
   margin-right: auto;
   min-height: 100% ;

 }

.footer{
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-left: 0%;
}

.pfooter{
  font-family: "Arista";
  max-width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  text-align: left;
  font-size: 3em;
  color: rgba(140, 200, 255, 0.7);
}

.divtitle{
  margin: auto;
  width: 70%;
}

.title{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  margin: 5%;
  width: 90%;
}
