html
  head
    link(rel='stylesheet', href='../stylesheets/loose.css', type='text/css')
  body
    .ensemble
      img#planete1(src='../images/backgrounds/planete1.png')
      p
        | Your species has been wiped out ... You have not been a pretty good strategist. Hope you have better luck next time !
    header
      img#planete2(src='../images/backgrounds/planete2.png')
      img#loose(src='../images/backgrounds/image.png')
