head
    link(rel='stylesheet', href='loose.css', type='text/css')
  body
    .ensemble
      img#planete1(src='../images/backgrounds/planete1.png')
      p
        | Votre espece a été anéanti... Vous n'avez pas été un assez bon stratège. Espérons que vous aurez plus de chance la prochaine fois !
    header
      img#planete2(src='../images/backgrounds/planete2.png')
      img#loose(src='../images/backgrounds/image.png')
