extends ../layouts/layoutgame

h1= title

block libs
	script(src='../javascripts/jquery.min.js')
	script(src='../javascripts/socket.io.js')
	script(src='../javascripts/phaser/phaser.js')
	script(src='../javascripts/phaser/phaser-plugin-isometric.js')
	script(src='../javascripts/webpd/webpd-latest.js')
	script(src='../javascripts/webpd/pd-fileutils.js')

block script
	// Server
	script(type='text/javascript').
		// start connection to the server
		var socket = io();

		var username = '#{username}';
		var solar_system = '#{solar_system}';
		socket.emit('game', username, solar_system);  // load all users of the game
		socket.on('data', function(users){
				users = users;	//global
				console.log(users.length);
				for(var i in users) {
					console.log(JSON.stringify(users[i],null, 4));	// so that the display is pretty
					//	display planets of the logged in user
					if(users[i].username == username){
						for( var k in users[i].planets ){
							//console.log(JSON.stringify(users[i].planets[k].name,null, 4));
							$('#planets')
								.append($('<li class="pure-menu-item"></li>'))
								.append($('<a class="pure-menu-link">')
								.text(users[i].planets[k].name));
							$('#ressources')
								.append($('<li class="pure-menu-item"></li>'))
								.append($('<a class="pure-menu-link">')
								.text('Kaga ' + users[i].ressources.kaga));
							$('#ressources')
								.append($('<li class="pure-menu-item"></li>'))
								.append($('<a class="pure-menu-link">')
								.text('Iron ' + users[i].ressources.iron));
						}
					}
					//	display other players
					$('#players')
						.append($('<li class="pure-menu-item"></li>'))
						.append($('<a class="pure-menu-link">')
						.text(users[i].username));
				}
		});
		


	// Phaser
	script(src='../javascripts/game/states/city.js')
	script(src='../javascripts/game/states/planets.js')
	script(src='../javascripts/game/game.js')

block content
	img#image
	.pure-g
		.pure-u-4-5#parent
		.pure-u-1-5.pure-menu.custom-restricted-width
				ul.pure-menu-list#players
					li.pure-menu-heading players
				ul.pure-menu-list#planets
					li.pure-menu-heading my planets
				ul.pure-menu-list#ressources
					li.pure-menu-heading my ressources
				button.pure-button(onclick="start('planets');") Planets
				button.pure-button(onclick="start('city');") City
	// WebPd
	script(src='../javascripts/webpd/loadPatches.js')
