extends ../layouts/layoutgame.pug

block libs
	script(src='../javascripts/jquery.min.js')
	script(src='../javascripts/libs/pnotify.custom.min.js')
	script(src='../javascripts/socket.io.js')

block style
	link(rel='stylesheet', href='/stylesheets/animate.css')
	link(rel='stylesheet', href='/stylesheets/pnotify.custom.min.css')

block script
	script(type='text/javascript').
		username = '#{username}'; // all variable might be global so no "var"
		solar_system = !{JSON.stringify(solar_system)};
		for (i in solar_system.users) {
			if (solar_system.users[i].username == '#{username}') {
				if( solar_system.users[i].won == true ){   // redirection vers les page win ou end
					window.location.assign('/game/win');
				}else if( solar_system.users[i].over == true ){
					window.location.assign('/game/end');
				}
				player = solar_system.users[i];
				id_user = i;
			}
		}
		// start connection to the server
		var socket = io();
		function askUpdate() {
			socket.emit('game', solar_system._id);
			doIFinish();
		}
		function notifUpdate() {
			for(i in player.messages) {
				if(player.messages[i].read == false && player.messages[i].type == "AskCommerce")
				{
					var data = {user_id: player._id, message_id: player.messages[i]._id};
					socket.emit('messageRead', data);
					var str = "Ask for : " + player.messages[i].data.ask_for.amount + " " + player.messages[i].data.ask_for.ressources;
					str += "\n Against : " + player.messages[i].data.against.amount + " " + player.messages[i].data.against.ressources;
					createNotif('You\'ve received an exchange request', str, 'confirm', player.messages[i].data);
				}
			}
		}
		var a,b;
		function realTime(){
			a = setInterval(askUpdate, 1000);
			b = setInterval(notifUpdate, 2000);
		}
		function displayMenu(id) {
			player = solar_system.users[id];
			var s1 = '';
			var s2 = '';
			for(i in player.planets) { s1 += '<li class="pure-menu-item list">'+player.planets[i].name+'</li>'; }
			for(i in player.ressources) {
				var str;
				switch(i) {
					case 'iron': str = 'Iron'; break;
					case 'watt': str = 'Energy'; break;
					case 'food': str = 'Food'; break;
					case 'water': str = 'Water'; break;
					case 'tool': str = 'Tool'; break;
					case 'lumber': str = 'Lumber'; break;
					default:
						str = '';
				}
				if(str != '')
					s2 += '<li class="pure-menu-item list">'+str+' : '+player.ressources[i]+'</li>';
			}
			$('#planets').html(s1);
			$('#ressources').html(s2);
			$('#player').html('<li class="pure-menu-item list">' + username + '</li>');
		}
		realTime();
		socket.on('gameSend', function(new_solar_system){
			solar_system = new_solar_system;
			displayMenu(id_user);
			//console.log(JSON.stringify(player.ressources.kaga, null, 4));
		})
		doIFinish = function(){
			//console.log('test do i finish');
			for(var i in solar_system.users){
				if(username == solar_system.users[i].username){
					if(solar_system.users[i].planets.length == 0){
						//console.log('pouet');
						location.assign('http://'+document.domain+':'+document.location.port+'/game/end');
					}else if (solar_system.users[i].planets.length == 6){
						location.assign('http://'+document.domain+':'+document.location.port+'/game/win');
					}
				}
			}
		}
		//console.log(JSON.stringify(solar_system, null, 4));

	// Phaser
	script(src='../javascripts/phaser/phaser.min.js')
	script(src='../javascripts/phaser/phaser-plugin-isometric.min.js')
	script(src='../javascripts/webpd/webpd-latest.js')
	script(src='../javascripts/webpd/pd-fileutils.js')
	script(src='../javascripts/game/db/map.js')
	script(src='../javascripts/game/boot.js')
	script(src='../javascripts/game/window/formation.js')
	script(src='../javascripts/game/window/rapport.js')
	script(src='../javascripts/game/window/upgrade.js')
	script(src='../javascripts/game/states/city.js')
	script(src='../javascripts/game/states/commerce.js')
	script(src='../javascripts/game/states/planets.js')
	script(src='../javascripts/game/states/attaque.js')
	script(src='../javascripts/game/game.js')

block content
	img#image
	.pure-g
		.pure-u-4-5#parent
		.pure-u-1-5.pure-menu.custom-restricted-width
			span.pure-menu-heading players
			ul.pure-menu-list#player
			span.pure-menu-heading my planets
			ul.pure-menu-list#planets
			span.pure-menu-heading my ressources
			ul.pure-menu-list#ressources
			br
			br
			button.pure-button(id="planet", onclick="start('planets');") Planets
			button.pure-button(id="city", onclick="start('city');") City
			button.pure-button(id="attaque", onclick="start('attaque');") Attack
			button.pure-button(id="commerce", onclick="start('commerce');") Trade

			script(type="text/javascript").
				document.getElementById('commerce').style.visibility = "hidden";
				document.getElementById('attaque').style.visibility = "hidden";
				document.getElementById('city').style.visibility = "hidden";

	// WebPd
	script(src='../javascripts/webpd/loadPatches.js')
	script(type='text/javascript').
		$(function () {
			displayMenu(id_user);
		});
