extends ../layouts/layoutgame

h1= title
block script
	script(src='../javascripts/jquery.min.js')
	script(src='../javascripts/socket.io.js')
	script(type='text/javascript').
		// start connection to the server
		var socket = io();

		var username = '#{username}';
		var solar_system = '#{solar_system}';
		socket.emit('game', username, solar_system);
		// load all users of the game
		socket.on('data', function(users){
				users = users;	//global
				for(var i in users) {
					//console.log(JSON.stringify(users[i],null, 4));	// so that the display is pretty
					//	display planets of the logged in user
					if(users[i].username == username){
						for( var k in users[i].planets ){
							$('#planets').append($('<li class="pure-menu-item"></li>')).append($('<a class="pure-menu-link">').text(users[i].planets[k].name));
							$('#ressources').append($('<li class="pure-menu-item"></li>')).append($('<a class="pure-menu-link">').text('Kaga ' + users[i].planets[k].ressources.kaga));
							$('#ressources').append($('<li class="pure-menu-item"></li>')).append($('<a class="pure-menu-link">').text('Iron ' + users[i].planets[k].ressources.iron));
						}
					}
					//	display other players
					$('#players').append($('<li class="pure-menu-item"></li>')).append($('<a class="pure-menu-link">').text(users[i].username));
				}
		});
	script(src='../javascripts/phaser/phaser.js')
	script(src='../javascripts/phaser/phaser-plugin-isometric.js')
	script(src='../javascripts/game/game.js')
	
	.pure-g
		.pure-u-4-5#parent
		.pure-u-1-5.pure-menu.custom-restricted-width
				ul.pure-menu-list#players
					li.pure-menu-heading players
				ul.pure-menu-list#planets
					li.pure-menu-heading my planets
				ul.pure-menu-list#ressources
					li.pure-menu-heading my ressources
