doctype html
html
  head
    meta(charset='utf-8')
    title  The End
    link(rel='stylesheet', href='../stylesheets/win.css', type='text/css')
    script(type='text/javascript', src='../javascripts/jquery.min.js')

  body
    img#hG(src='../images/backgrounds/Galaxie.jpg')
    img#bD(src='../images/backgrounds/Galaxie2.jpg')
    img#victoire(src='../images/backgrounds/Win.png')
    img#text(src='../images/backgrounds/PhraseWin.png', <='', img='')
