extends ../layout

block content
    h1= title
    form.pure-form(name="addSubmit", method="post", action="/users/addSubmit")
      fieldset
        legend= title
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="password", placeholder="password", name="password")
        button.pure-button.pure-button-primary(type="submit") submit
