extends ../layouts/layout.pug

block meta
	meta(charset='utf-8')

block title
	title Species

block link
	link(rel='stylesheet', href='../stylesheets/choose.css', type='text/css')

block libs
	script(type='text/javascript', src='../javascripts/jquery.min.js')

block content
	h1 Choice of the species
	table(border='0', name='choisir', align='center')
		tr
		td(rowspan='3', align='center')
			a#bouton(href='../images/buttons/CHOIX1', type='button', name='valid', onClick='receive();')
			td(align='center')
				img#Glurps(src='../images/characters/Glurps.png')
			td(align='center')
				img#Hatburg(src='../images/characters/Hatburg.png')
			td(align='center')
				img#Laistar(src='../images/characters/Laistar.png')
		tr
			td(align='center')
				img#Larva(src='../images/characters/Larva.png')
			td(align='center')
				img#MrMustach(src='../images/characters/MrMustach.png')
			td(align='center')
				img#Mrsur(src='../images/characters/Mrsur.png')
		tr
			td(align='center')
				img#Orzren(src='../images/characters/Orzren.png')
			td(align='center')
				img#Runorpox(src='../images/characters/Runorpox.png')
			td(align='center')
				img#Vaex(src='../images/characters/Vaex.png')

	script.
		function receive(){
			var select = $(this).attr("id"); // IDEA: recuperation de l'id n'est pas réussi
			alert(selected);
		}
		var selected = null;
		$(function() {
			$('aside').hide();
			$('#bouton').hide();
			$('img:not(#full-screen-background-image)').click(function(){
				console.log($(this).attr("id"));
				$('img:not(#full-screen-background-image)').not($($(this).attr("id"))).css({
					width:'150px',
					height:'150px'
				});
				selected = $(this).attr("id");
			});
			function selectPerso(){
				console.log(this);
				$(this).css({
					width :'200px',
					height : '200px'
				});
				var select = $(this).attr("id")+"text";
				$('aside').hide();
				$('#'+select).show();
				$('#bouton').show();
			};
			$(function(){
				$("#Glurps").click(selectPerso);
				$("#Hatburg").click(selectPerso);
				$("#Laistar").click(selectPerso);
				$("#Larva").click(selectPerso);
				$("#MrMustach").click(selectPerso);
				$("#Mrsur").click(selectPerso);
				$("#Orzren").click(selectPerso);
				$("#Runorpox").click(selectPerso);
				$("#Vaex").click(selectPerso);
			});
		});

	aside#Glurpstext
		b  Glurps
		| ,
		| 									Munis de grandes cornes et de dents pointues ils ont évolué en dévorant
		| 									tout sur leur passage plantes, arbres, animaux ...
		| 									Les marécages de leurs planètes sont d un vert vaseux d où leurs couleurs a
		| 									faire vomir des limaces.

	aside#Hatburgtext
		b  Hatburg
		| ,
		|  									Leur monde est beauté et harmonie, par manque de cheveux, ils décidèrent de se
		| 									mettre des nœuds sur les cornes pour donnée à leurs looks un aspect de paye et d amour.
		| 									Leurs consommations excessive de champignons leur donne les points blancs sur leurs peaux.

	aside#Laistartext
		b  Laistar
		| ,
		|  									Rien ne va plus, pour eux leur monde est le moins parfait. Ils se plaignent constamment
		| 									de leurs manières de vivre cela ne les empêche pas de ne rien faire pour l améliorer.
		| 									Ne leur parlez surtout pas ils ne vous écouteront jamais et râleront en continu.

	aside#Larvatext
		b  Larva
		| ,
		|  									Pas simple de se déplacer lorsqu on louche avec ses 3 yeux. Mais avec leur air intelligemment inapte ,
		| 									ils deviennent vite attachants c est par leur apparence que ce peuple réussit à survivre à ses
		| 									envahisseurs.

	aside#MrMustachtext
		b   MrMustach
		| ,
		| 	 								Avec un aileron en guise de moustache, leurs passe-temps, enseigner à leurs confrères leurs
		| 									connaissances, malheureusement, tout le monde sait tout sur leurs planètes. Lorsque celle-ci c est
		| 									fait envahir les MrMustach les ont fait fuir en parlant en continu de leurs connaissances.
		| 									Fuyez si vous les croisez !

	aside#Mrsurtext
		b Mrsur
		| ,
		| 									Ne vous frottez pas à eux, avec leurs piques sur leurs dos ils vous transperceront en un instant.
		|   								Faisant partie de la famille des diodons, ils se gonflent instantanément lorsqu ils sont contrariés
		| 									malheureusement, quand ils gonflent ils s'envolent, c'est ainsi que plusieurs de leurs espèces ont disparu.

	aside#Orzrentext
		b  Orzren
		| ,
		| 									De couleur bleu ciel, cette espèce vit dans les nuages. À cause de la pression de l air ils perdent
		| 									leurs deuxièmes cornes après la naissance. Lorsque le temps est gris les Orzren ont la capacité de changer
		| 									d espèce comme le caméléon, mais ne peut changer que de deux couleurs ce qui devient dur de se camoufler
		| 									une fois sur la terre.

	aside#Runorpoxtext
		b  Runorpox
		| ,
		| 	 								Cette espèce avait tellement honte de leurs peaux grisâtres qu ils ont tous décidé de ne plus du tout se
		| 									couper les poiles. Tous les coiffeurs ont été bannis de leurs planètes et les ciseaux brulés. Il ne reste
		| 									plus rien sur cette espèce pour couper a par leurs dents.

	aside#Vaextext
		b  Vaex
		| ,
		| 									Ne soyez pas bernés par son effet de diabolique. Cette espèce est depuis toujours inoffensive. Avec leurs dents
		| 									rondes ils ne parviennent à manger que des légumes. Les piques sur leurs têtes sont limés pour essayer d éloigner
		| 									les envahisseurs.
