extends ../layouts/layout.pug

block meta
	meta(charset='utf-8')

block title
	title Species

block link
	link(rel='stylesheet', href='../stylesheets/choose.css', type='text/css')

block libs
	script(type='text/javascript', src='../javascripts/jquery.min.js')

block content
	h1 Choice of the species
	form(name='personnage')
		table(border='0', name='choisir', align='center')
			tr
			td(rowspan='3', align='center')
				a#bouton(href='../images/buttons/CHOIX1', type='button', name='valid', onClick='receive();')
				td(align='center')
					img#Glurps(src='../images/characters/Glurps.png')
					td(align='center')
					img#Hatburg(src='../images/characters/Hatburg.png')
					td(align='center')
					img#Laistar(src='../images/characters/Laistar.png')
					tr
					td(align='center')
					img#Larva(src='../images/characters/Larva.png')
					td(align='center')
					img#MrMustach(src='../images/characters/MrMustach.png')
					td(align='center')
					img#Mrsur(src='../images/characters/Mrsur.png')
					tr
					td(align='center')
					img#Orzren(src='../images/characters/Orzren.png')
					td(align='center')
					img#Runorpox(src='../images/characters/Runorpox.png')
					td(align='center')
					img#Vaex(src='../images/characters/Vaex.png')

	script.

	function controle(personnage){
		var receive = document.personnage.name;
		if (receive = null) {
			receive.open("GET", "game.pug",true);
			receive.send(null);
			alert(receive);
		}
	}

		var selected = null;
		$(function() {
			$('aside').hide();
			$('#bouton').hide();
			$('img:not(#full-screen-background-image)').click(function(){
				console.log($(this).attr("id"));
				$('img:not(#full-screen-background-image)').not($($(this).attr("id"))).css({
					width:'150px',
					height:'150px'
				});
				selected = $(this).attr("id");
			});
			function selectPerso(){
				console.log(this);
				$(this).css({
					width :'200px',
					height : '200px'
				});
				var select = $(this).attr("id")+"text";
				$('aside').hide();
				$('#'+select).show();
				$('#bouton').show();
			};
			$(function(){
				$("#Glurps").click(selectPerso);
				$("#Hatburg").click(selectPerso);
				$("#Laistar").click(selectPerso);
				$("#Larva").click(selectPerso);
				$("#MrMustach").click(selectPerso);
				$("#Mrsur").click(selectPerso);
				$("#Orzren").click(selectPerso);
				$("#Runorpox").click(selectPerso);
				$("#Vaex").click(selectPerso);
			});
		});

	aside#Glurpstext
		b  Glurps,
		| Equipped with large horns and sharp teeth they evolved devouring everything
		|	in their path plants , trees, animals ... Swamps of their planets are a muddy green ,
		| hence their colors to vomit slugs.
		|
	aside#Hatburgtext
		b  Hatburg
		| ,
		|  							Their world is beauty and harmony , lack of hair,
		|								they decided to put nodes on the horns to give them a soft
		|								and friendly side. Their excessive consumption of mushrooms
		|								gives them white spots on their skin.

	aside#Laistartext
		b  Laistar
		| ,
		|  									Nothing is going right for them. Their world is the least of the galaxy
		|										They constantly complain about their ways of life that does not stop them
		|										from doing nothing to improve it. Please do not talk about them they will
		|										never listen to you and râleront continuously.

	aside#Larvatext
		b  Larva
		| ,
		|										Not easy to move when ladle with 3 eyes. But with their air unfit intelligently ,
		|										they quickly become endearing is their appearance that people managed to survive his
		| 									invaders.
		|

	aside#MrMustachtext
		b   MrMustach
		| ,
		| 	 							With a spoiler as a mustache, their hobbies , their colleagues teach their
		| 								knowledge, unfortunately , everyone knows everything about their planets . When it is
		|					 				is invading the MrMustach have driven by speaking continuously their knowledge.
		| 								Run away if you cross them!
	aside#Mrsurtext
		b Mrsur
		| ,
		| 								Do not rub them with their spades on their backs they stab you in an instant.
		| 								Part of the family diodons , they swell instantly when they are upset
		| 								Unfortunately , when they swell they fly , that's how many of their species disappeared .

	aside#Orzrentext
		b  Orzren
		| ,
		| 									Sky blue' colors' , this species lives in the clouds. Because of the air pressure they lose
		|									 	their second horns after birth. When the weather is gray Orzren to the ability to change
		| 									species such as the chameleon, but can only change two colors which becomes hard to camouflage
		| 									once on the ground.

	aside#Runorpoxtext
		b  Runorpox
		| ,
		|
		|										This species was so ashamed of their gray skins they have all decided not to be at all
		|	 									cut hair . All hairdressers were banished from their planets and burnt scissors. It remains
		| 									nothing of this kind has to cut their teeth.
	aside#Vaextext
		b  Vaex
		| ,
		|
		|										Do not be fooled by his evil effect. This species has always harmless. With their teeth
		| 									round they manage to eat only vegetables. Pikes on their heads are filed down to try away
		| 									The invaders.
